$themeColor = #31c27c
$bgColor = #2b4b6b
$greyColor = #999
$fontColor = #000
$activeColor = #fff
$bgColor2 = #fafafa

$font-size-ss = 10px
$font-size-s = 12px
$font-size-m = 14px
$font-size-mx = 16px
$font-size-l = 18px
$font-size-lx = 22px