$themeColor = #31c27c
$bgColor = #2b4b6b
$homeColor = #373d41
$asideColor = #333744
$mainColor = #eaedf1
$titleFontColor = #FFFFFF
$titleActiveColor = #409EFF
$bgColor2 = #fafafa

$tableFontColor = #909399

$font-size-ss = 10px
$font-size-s = 12px
$font-size-m = 14px
$font-size-mx = 16px
$font-size-l = 18px
$font-size-lx = 22px